@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header ul {
  list-style: none;
}

.main-header a {
  color: #000000;
}

.tech-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.tech-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.tech-navigation a:hover::before {
  opacity: 0.6;
}

.tech-navigation a:active::before {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  padding-top: 21px;
  padding-bottom: 44px;

  box-shadow: inset 0 40px 0 0 #ffffff;
  background-color: rgba(240, 197, 46, 0.5);
}

.inner-page .main-navigation {
  margin-bottom: 37px;
}

.main-header-logo {
  width: 163px;
}

.tech-navigation {
  display: flex;
  padding-top: 18px;
  margin-bottom: 28px;
}

.search {
  width: 440px;
  height: 38px;
  margin: 0;
  margin-right: 100px;
  padding: 0;
}

.search-form {
  position: relative;

  display: flex;
}

.search-form input {
  flex-grow: 1;
  padding-top: 7px;
  padding-left: 39px;
  padding-right: 19px;
  padding-bottom: 16px;

  color: #000000;

  background-color: transparent;

  border: none;
}

.search-form label {
  position: absolute;
  left: 39px;

  color: rgba(0, 0, 0, 0.3);
}

.search-form input:focus {
  box-shadow: inset 0 -2px 0 0 #000000;
}

.search-form input:hover + label {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:valid + label {
  color: rgba(0, 0, 0, 0);
}

.search-form label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -36px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-form::after {
  content: "";
  position: absolute;
  top: 38px;
  left: 0;

  width: 440px;
  height: 2px;

  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0;
}

.search-button {
  display: block;
  visibility: hidden;
  margin-top: -9px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;

  border: none;

  background-color: transparent;

  box-shadow: inset 0 0 0 2px #000000;
}

.search-field:focus ~ .search-button,
.search-field:valid ~ .search-button,
.search-field:invalid ~ .search-button:active {
  visibility: visible;
}

.search-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-navigation li {
  margin-right: 20px;
}

.user-navigation li:last-child {
  margin-right: 0;
}

.user-navigation a {
  position: relative;
}

.enter {
  padding-left: 26px;
}

.enter::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.shop-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.shop-navigation li {
  margin-right: 41px;
}

.shop-navigation li:last-child {
  margin-right: 0;
}

.shop-navigation a {
  position: relative;
}

.compare {
  padding-left: 20px;
}

.compare::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart {
  padding-left: 22px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-link {
  position: relative;

  display: inline-block;
  height: 30px;

  padding-right: 27px;
}

.site-navigation .catalog-link::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.site-navigation > li:first-child {
  position: relative;
  margin-right: 294px;
}

.site-navigation > li:nth-child(2) {
  margin-right: 35px;
}

.site-navigation > li:last-child {
  margin-left: auto;
}

.site-page {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.dropdown-menu {
  position: absolute;
  left: -60px;

  display: none;
  box-sizing: border-box;
  width: 1160px;
  padding-top: 18px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 37px;

  background-color: #f7e296;
}

.catalog-link:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: flex;
}

.dropdown-column {
  padding: 0;
  margin: 0;
}

.dropdown-column:nth-of-type(1) {
  margin-right: 59px;
}

.dropdown-column:nth-of-type(2) {
  margin-right: 75px;
}

.dropdown-column li {
  margin-bottom: 6px;
}

.dropdown-column li:last-child {
  margin-bottom: 0;
}

.button {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  background: linear-gradient(
    to bottom,
    transparent 16px,
    #f0c52e 16px,
    #f0c52e 24px,
    transparent 24px
  );

  border: none;
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-list {
  margin: 0;
  padding: 0;
  margin-bottom: 95px;

  list-style: none;
}

.slider-item {
  min-height: 500px;
  display: flex;
  justify-content: space-between;
}

.slider-image-container {
  order: -1;
  width: 560px;
}

.slider-description {
  width: 560px;
}

.slider-item h3 {
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: #000000;
}

.slider-table td {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.slider-table th {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  font-weight: 300;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 43px;

  list-style: none;
}

.categories-item {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.categories-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.services-wrapper {
  width: 100%;

  background-color: #e5e5e5;
}

.services {
  display: flex;
  margin-bottom: 94px;
}

.services-buttons {
  list-style: none;
}

.services-list {
  list-style: none;
}

.services-item h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}

.brands {
  margin-bottom: 93px;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.brands-list li {
  width: 260px;
  height: 100px;
}

.info-columns {
  display: flex;
  justify-content: space-between;
}

.info-columns .button {
  width: 260px;
}

.about {
  width: 481px;
}

.info-columns h2 {
  position: relative;

  margin: 0;
  padding-top: 52px;
  margin-bottom: 43px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}

.info-columns h2::before {
  content: "";
  position: absolute;
  top: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.info-columns p {
  margin-top: 0;
  margin-bottom: 30px;
}

.delivery-list {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  margin-bottom: 54px;

  list-style: none;
}

.delivery-list li {
  position: relative;

  padding-left: 35px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.delivery-list li::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;

  width: 4px;
  height: 4px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts {
  width: 560px;
}

.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}

p.contacts-map {
  width: 560px;
  height: 222px;
  padding-top: 9px;
  margin-bottom: 69px;
}

.modal-map img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-map p {
  position: relative;

  width: 960px;
  height: 559px;
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  opacity: 0.5;

  border: none;
}

.modal-close::after {
  content: "";
  display: block;

  width: 55px;
  height: 55px;

  background-image: url("../img/modal-close.svg");
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal {
  background-color: #ffffff;
}

.modal-feedback {
  position: relative;

  width: 960px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 78px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-feedback button {
  width: 200px;
}

.modal-feedback .modal-close {
  width: 55px;
}

.modal-feedback p {
  margin: 0;
  margin-bottom: 32px;
}

.feedback-text {
  width: 100%;
}

.feedback-text textarea {
  box-sizing: border-box;
  width: 100%;
  height: 156px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;

  resize: none;
}

.feedback-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.feedback-form input {
  box-sizing: border-box;
  width: 360px;
  margin: 0;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
}

.feedback-form label {
  display: block;

  padding: 0;
  margin: 0;
  margin-bottom: 8px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  color: #000000;
}

.feedback-form input,
.feedback-form textarea {
  color: #464646;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: normal;

  background-color: rgba(229, 229, 229, 0.5);

  border: none;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  color: #464646;

  background-color: rgba(229, 229, 229, 0.8);

  border: none;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px rgba(240, 197, 46, 0.5);

  background-color: #ffffff;
}

.feedback-form input:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

/* Страница "Каталог" */

.main-header .user-exit {
  color: rgba(0, 0, 0, 0.3);
}

.main-header .user-exit:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header .user-exit:active {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}

.page-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-left: 60px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  padding-left: 60px;
  margin: 0;
  margin-bottom: 45px;

  font-size: 14px;
  line-height: 24px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  padding-right: 20px;
  margin-right: 18px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-columns {
  display: flex;
  justify-content: center;
}

.filters {
  flex-grow: 1;

  background-color: #eeeeee;
}

.filters-header-wrapper {
  background-color: #dbdbdb;
}

.filters-header {
  width: 200px;
  padding-left: 60px;
  padding-right: 68px;
  margin: 0;
  margin-left: auto;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
}

.filter {
  width: 200px;
  padding-left: 60px;
  padding-right: 68px;
  margin-left: auto;
}

.price-slider p {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.18x;
  color: #000000;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-bottom: 31px;
  border: none;
  border-top: 2px solid #000000;
}

.filter legend {
  float: left;
  width: 100%;
  margin-bottom: 18px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.filter-option label {
  position: relative;
  padding-left: 38px;
}

.filter-color label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-bluetooth label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: none;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter .button {
  width: 200px;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.sort-wrapper {
  margin-bottom: 58px;

  background-color: #ebebeb;
}

.sort {
  width: 760px;
  padding-left: 72px;
  margin-right: auto;
}

.sort ul {
  list-style: none;
}

.sort p {
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.14px;
  color: #000000;
}

.sort-type a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-type a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-type a:active {
  color: #000000;
}

.sort-type .sort-active,
.sort-type .sort-active:hover {
  color: #000000;
}

.sort-direction {
  text-align: right;
}

.sort-direction a {
  opacity: 0.2;
}

.sort-direction a:hover {
  opacity: 0.4;
}

.sort-direction a:active {
  opacity: 1;
}

.catalog {
  flex-grow: 1;
}

.catalog-list {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 0;
  margin-right: auto;
  padding: 0;
  padding-left: 72px;

  list-style: none;
}

.catalog-list h3 {
  width: 256px;
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 360px;
  margin-right: 40px;
  margin-bottom: 9px;
}

.catalog-item a {
  padding-top: 11px;
}

.catalog-item-description {
  display: flex;
  justify-content: space-between;
  order: 1;
  min-height: 74px;
}

.catalog-item-image {
  margin: 0;
  margin-bottom: 32px;
  width: 360px;
  height: 380px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-price {
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.pagination-list {
  width: 760px;
  margin: 0;
  padding: 0;
  margin-left: 72px;
  margin-bottom: 77px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.08);

  list-style: none;
}

.pagination-button a {
  color: #000000;
}

.pagination-button a:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-button a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-disabled a,
.pagination-disabled a:hover,
.pagination-disabled a:active {
  color: #000000;
  background-color: transparent;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: #000000;
}

.pagination-item-current a,
.pagination-item-current a:active,
.pagination-item-current a:hover {
  color: #000000;
}

.main-footer {
  margin-top: 82px;
  padding: 65px 0;

  color: #ffffff;

  background-color: #464646;
}

.inner-page .main-footer {
  margin-top: 0;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
}

.main-footer ul {
  list-style: none;
}

.main-footer a {
  color: #ffffff;
}

.footer-first-line {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 21px;
}

.footer-second-line {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 59px;
}

.footer-third-line {
  display: flex;
  justify-content: space-between;
}

.footer-second-line p {
  width: 360px;
}

.address {
  margin: 0;
}

.site-page {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.telephone {
  margin: 0;
  text-align: right;
}

.footer-user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 44px;
}

.footer-user-navigation li {
  margin-right: 20px;
}

.footer-user-navigation li:last-child {
  margin-right: 0;
}

.footer-user-navigation a {
  position: relative;
}

.footer-user-navigation .enter::before {
  background-image: url("../img/user-yellow.svg");
}

.footer-shop-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-shop-navigation li {
  margin-right: 41px;
}

.footer-shop-navigation li:last-child {
  margin-right: 0;
}

.footer-shop-navigation a {
  position: relative;
}

.footer-shop-navigation .compare::before {
  background-image: url("../img/compare-yellow.svg");
}

.footer-shop-navigation .cart::before {
  background-image: url("../img/cart-yellow.svg");
}

.footer-site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

.footer-site-navigation li {
  margin-right: 32px;
}

.footer-site-navigation li:nth-child(3n) {
  margin-right: 0;
}

.footer-third-line > div:first-child {
  width: 80px;
  height: 7px;
  margin-right: 80px;
  align-self: center;

  background-color: #ffc600;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-list li {
  margin-right: 23px;
}

.social-list li:last-child {
  margin-right: 0;
}

.social-list a {
  display: block;
  width: 32px;
  height: 32px;
}

.copyright {
  width: 160px;
  text-align: right;
}

.copyright a {
  display: block;
  width: 27px;
  height: 35px;
  margin-left: auto;

  position: relative;
}

.main-footer-logo:hover img {
  opacity: 0.6;
}

.main-footer-logo:active img {
  opacity: 0.3;
}

.footer-site-navigation a:hover,
.copyright a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active,
.copyright a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation a,
.footer-shop-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover,
.footer-shop-navigation a:hover {
  color: #ffffff;
}

.footer-user-navigation a:hover::before,
.footer-shop-navigation a:hover::before {
  opacity: 0.6;
}

.footer-user-navigation a:active,
.footer-shop-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation a:active::before,
.footer-shop-navigation a:active::before {
  opacity: 0.3;
}

.footer-user-navigation .footer-user-exit {
  color: rgba(255, 255, 255, 0.3);
}

.social-list a {
  color: rgba(255, 255, 255, 0.3);
}

.social-list svg {
  opacity: 0.3;
}

.social-list a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.social-list svg:hover {
  opacity: 0.6;
}

.social-list a:active {
  color: rgba(255, 255, 255, 0.1);
}

.social-list svg:active {
  opacity: 0.1;
}

.copyright a:hover {
  opacity: 0.6;
}

.copyright a:active {
  opacity: 0.3;
}
